<!DOCTYPE html>
<html>
  <head>
    <title>{{ gene.name }}</title>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <!-- Custom CSS -->
    <style>
      /* Add custom styles here */
      body {
        /* background: url("/static/image.jpg") 50% 0 no-repeat fixed; */
      }
      h1 {
        color: #007bff;
        text-align: center;
        margin-top: 50px;
      }
      h2 {
        color: #343a40;
        margin-top: 30px;
      }
      table {
        margin-top: 30px;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top p-4">
      <a class="navbar-brand btn btn-primary ml-2" href="{% url 'gene_list' %}"
        >HOME</a
      >
      {% if user.is_authenticated %}

      <a class="navbar-brand btn btn-primary ml-2" href="{% url 'upload' %}"
        >Upload Gene Dataset</a
      >
      <a class="navbar-brand btn btn-primary ml-2" href="{% url 'add' %}">
        Add Gene manually</a
      >
      <a class="navbar-brand btn btn-primary ml-2" href="{% url 'logout' %}">
        Logout</a
      >
      {% else %}

      <a class="navbar-brand btn btn-primary ml-2" href="{% url 'login' %}">
        Login</a
      >
      {% endif %}
    </nav>
    <br /><br />
    {% if error_message %}
    <p class="alert alert-danger">{{ error_message }}</p>
    {% else %}
    <!-- your existing html code for gene detail -->
    {% endif %}

    <div class="container">
      <h1>{{ gene.name }}</h1>
      <p>Here are the transcripts associated with the gene {{ gene.name }}.</p>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Name</th>
            <th>Sequence</th>
          </tr>
        </thead>
        <tbody>
          {% for gene in gene.transcript_set.all %}
          <tr>
            <td>{{ gene.name }}</td>
            <td>{{ gene.sequence }}</td>
          </tr>

          {% empty %}
          <tr>
            <td colspan="2">No transcripts found for this gene.</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <p>
        Here are the corresponding <strong>mRNA</strong> and
        <strong>Protein</strong> for {{ gene.name }}.
      </p>
      <!-- mRNA table start -->
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>mRNA</th>
          </tr>
        </thead>
        <tbody>
          {% if gene %}
          <tr>
            <td>{{ mRNA_sequence}}</td>
          </tr>

          {% else %}
          <tr>
            <td colspan="2">No transcripts found for this gene.</td>
          </tr>
          {% endif %}
        </tbody>
      </table>
      <!-- mRNA table ends -->
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Protein</th>
          </tr>
        </thead>
        <tbody>
          {% if gene %}

          <tr>
            <td>{{ protein_sequence }}</td>
          </tr>
          {% else %}
          <tr>
            <td colspan="2">No transcripts found for this gene.</td>
          </tr>
          {% endif %}
        </tbody>
      </table>
      <a href="{% url 'gene_list' %}" class="btn btn-secondary"
        >Back to Gene List</a
      >
    </div>
    <!-- Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
